<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %>
	<body>
		<%- include('composants/entete') %>
		<%- include('composants/form_post') %>
		<%- include('composants/adr') %>
		<%- include('composants/footer') %>
		
		</table>
	</body>
</html>