<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %>
	<body>
		<%- include('composants/entete') %>
		<%- include('composants/form_post') %>

		<section class="contenu">
			<%- include('composants/adr') %>

			<form action="/ajouter" method="POST" >
				<input type = "text" placeholder="Nom" name = "nom"> 
				<input type = "text" placeholder="Prénom" name = "prenom">
				<input type = "text" placeholder="Téléphone" name = "telephone">
				<input type = "email" placeholder="courriel" name="courriel">
				<input type = "submit" value='Ajouter'>
			</form>
		</section>
		
		<%- include('composants/footer') %>

		
		</table>
	</body>
</html>